@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwind";
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
}
.navbar{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding: 1.87rem 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wave{
    color: rgba(255, 0, 208, 0.8);
    
}
.menu-icon{
    display: none;
    cursor: pointer;
}
.menu-items{
    display: flex;
    align-items: center;
    gap: 32px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
.btn-primary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(45deg, rgba(255, 255, 0, 0.747),rgb(244, 94, 119),rgb(241, 54, 241));
    padding: 12px 16px;
    border-radius: 50px;
     cursor: pointer;
}
.banner{
    max-width: 1600px;
    width:100%;
    margin: 0 auto;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 101px 0px;
    position: relative;
}
.banner-container{
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    
}
.banner-image{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../assets/hero-circle.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    position: relative;
}
.banner-image img{
    max-width: 200px;
    width: 50%;
    margin: 0 auto;
    padding: 75px 20px;
}
.new{
    position: absolute;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 1.125rem;
    font-weight: 600;
    color: #1A0B2E;
    top:10%;
    left: 80%;
}
.banner-content{
text-align: center;
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 40px;
}
.banner-description{
    font-size: 1rem;
    color: #ffffff80;
    margin-top: 8px;
    margin-bottom: 24px;
}
.btns{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.btn-secondary{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:8px;
   background: transparent;
   padding: 12px 20px;
   border: 1px solid #00FF88;
   border-radius: 50px;
   font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    cursor: pointer;
}
.prodcast{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-color: #1A0B2E;
}
.prodcast-container{
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 120px;
   
}
.about-prodcast{
     text-align: center;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.prodcast-description, .join{
    font-size: 1rem;
    line-height: 20px;
    color: #ffffff80;
}
.join{
    padding-top: 20px;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.102);
    margin: 50px 0px;
}
.prodcast-stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.stats-card h2{
    font-size: 3rem;
    font-weight: 700;
  color: #00FF88;
  margin-bottom: 16px;
}
.stats-card p{
    font-size: 1rem;
    color: #ffffff80;
}

@media screen and (max-width: 576px){
    .navbar{
        padding: 20px;
    }
    .logo{
        font-size: 2.5rem;
    }
    .menu-items, .btn-primary{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .banner-container{
    max-width: 400px;
    width: 90%;
    margin: 0 auto; 
}
.banner-title{
    font-size: 2.5rem;
    margin-top: 24px;
}
 .btns .btn-primary{
  display: block;
  display: flex;
 }
 .prodcast-container{
    width: 90%;
 }
 .section-title{
    font-size: 2.5rem;
 }
 .prodcast-stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
 }
 .stats-card h2{
    font-size: 2.5rem;
 }
}

@media screen and (min-width: 576px) and (max-width: 992px){
    .navbar{
        padding: 20px 30px;
    }
    .logo{
        font-size: 2.5rem;
    }
    .menu-items{
        gap: 20px;
    }
    .prodcast-stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
 }
}